fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

python-multipart

python-dotenv

pydantic
pydantic-settings

supabase
alembic

pytest 

slowapi
rich

pymupdf

langchain-text-splitters

ollama

pgvector

celery
redis

google-genai

python-jose[cryptography]